---
import Tag from "./Tag.astro";
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div class="rounded-lg outline-2 outline-blue-900 bg-base-100 transition ease-in-out group" >
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold group-hover:text-blue-600 transition-colors">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl text-gray-700">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => (
                <!--<a href={`${tag_url}/${tag}`} class="badge badge-outline">-->
                <!--  {tag}-->
                <!--</a>-->
                  <Tag tag={tag} ></Tag>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
